@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DMMono-Regular.ttf") format("truetype");
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
